* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.comic-card-container {
  border: 1px solid #e2dcdc;
  margin: 20px 35px 20px 35px;
  display: inline-flex;
  position: relative;
  border-radius: 5px;
  text-align: left;
  height: 310px;
  width: 218px;
}

.comic-card-container img {
  border-radius: 5px;
  min-height: 310px;
  object-fit: cover;
  display: block;
  width: 218px;
}

.comic-card-content {
  background-color: white;
  position: absolute;
  overflow: hidden;
  width: 218px;
  height: 0;
}

.comic-card-container:hover .comic-card-content {
  box-shadow: 1px 5px 10px #888888;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.card-title {
  font-size: 13px;
  padding: 15px;
}

.card-description {
  font-size: small;
  padding: 0 15px;
}

.card-see-more {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 20px;
  width: 100%;
}

@media (max-width: 1050px) {
  .comic-card-container{
    width: 390px;
  }
  .comic-card-container img{
    width: 390px;
  }
  .comic-card-content{
    width: 390px;
  }
}

@media (max-width: 900px) {
  .comic-card-container{
    width: 280px;
  }
  .comic-card-container img{
    width: 280px;
  }
  .comic-card-content{
    width: 280px;
  }
}

@media (max-width: 700px) {
  .comic-card-container{
    width: 210px;
  }
  .comic-card-container img{
    width: 210px;
  }
  .comic-card-content{
    width: 210px;
  }
}

@media (max-width: 600px) {
  .comic-card-container{
    width: 160px;
  }
  .comic-card-container img{
    width: 160px;
  }
  .comic-card-content{
    width: 160px;
  }
}