.comics-container {
  display: flex;
}

.comics {
  text-align: center;
  overflow: overlay;
  height: 580px;
}

.comics::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.comics::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.hola{
  background: red;
}

.comics::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  background: #b3b3b3;
}

.comics::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.comics::-webkit-scrollbar-track {
  display: none;
}


.comics-title {
  justify-content: space-around;
  display: flex;
}

.comics-details {
  width: 50%;
}

.comics-details h1 {
  text-align: center;
}

.selected-comics div {
  text-align: center;
}
.form-group {
  margin-bottom: 0.3em;
}

.form-group label {
  vertical-align: middle;
  display: inline-block;
  width: 7em;
}

.form-group input {
  border: 1px solid #ccc;
  vertical-align: middle;
  display: inline-block;
  padding: 0.5em 0.6em;
  border-radius: 5px;
  width: 70%;
}

.bton {
  background-color: #7561e2;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 9px;
  width: 90px;
}

.loading-container{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 650px;
  width: 100%;
}